[buildout]
parts +=
    test
    scripts
    py

allow-picked-versions = true
show-picked-versions = true
develop =
    .

versions = versions

eggs =
    wtforms_extras

[test]
recipe = zc.recipe.testrunner
relative-paths = true
eggs =
    wtforms_extras[test]

[scripts]
recipe = zc.recipe.egg:scripts
eggs =
    ${buildout:eggs}

[py]
# installs a zopepy python interpreter that runs with your
# full Zope environment
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py

[versions]
Chameleon = 2.15
WTForms = 1.0.5
zc.recipe.egg = 2.0.1
zc.recipe.testrunner = 2.0.0
six = 1.6.1
zope.exceptions = 4.0.7
zope.interface = 4.1.1
zope.testrunner = 4.4.1
